<!-- 全ユーザーの一覧を表示 -->
<h1><%= @user.name %> のプロフィール</h1>

<p>メール: <%= @user.email %></p>

<%= link_to 'カレンダーに戻る', calendars_path, class: 'btn btn-secondary' %>

<div class="footer-text">
  <p>Copyright(C) Share-suke ALL RIGHTS RESERVED.</p>
</div>
