<table border="1" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr>
      <th style="width: 150px;">ユーザー名</th>
      <% (@start_date..@end_date).each do |date| %>
        <th><%= date.strftime('%m/%d (%a)') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% (@start_date..@end_date).each do |date| %>
          <td>
            <% operations = user.operations.where(date: date) %>
            <% if operations.any? %>
              <% operations.each do |operation| %>
                <p><%= operation.operation_info %></p>
              <% end %>
            <% else %>
              <p>休み</p>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>