<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-operation">
    <a href="#">運行便を作成する</a>
  </div>
</div>

<div class="side-bar-footer">
</div>