<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="calendar">
    <%= render "main_calendar", start_date: @start_date, end_date: @end_date %>
  </div>
</div>
