.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 250px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.side-bar-footer {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  display: block;              /* ブロック表示で中央揃え */
  width: 100%;                 /* ボタンをサイドバーの幅いっぱいに広げる */
  padding: 10px 0;             /* 上下の余白を調整 */
  text-align: center;          /* テキストを中央揃え */
  text-decoration: none;       /* 下線を削除 */
  color: #fff;                 /* テキスト色 (白色) */
  border: none;                /* ボーダーを削除 */
  border-radius: 5px;          /* 角丸 */
  font-size: 16px;             /* フォントサイズ */
  font-weight: bold;           /* 太字 */
  margin-bottom: 10px;         /* ボタン間のスペース */
  cursor: pointer;
}

.sidebar-content .custom-btn:hover {
  background-color: #0056b3;   /* ホバー時の背景色 (濃い青色) */
}

.calendar {
  background-color: #FFFFFF;
  width: calc(100vw - 200px);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}