.wrapper {
  display: flex;
  overflow: hidden; /* はみ出し防止 */
}
.side-bar {
  width: 250px;
  height: 100vh;
}

/* サイドバーのタイトル部分のデザイン */
.side-bar-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.side-bar-header p {
  font-family: 'Noto Serif JP', serif; /* 和風フォント */
  font-size: 50px;
  color: #FFFFFF; /* 白い文字 */
  margin: 0; /* pタグ特有の余白を消す */
}

.header-name {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
}

.side-bar-footer {
  background-color: #2F3E51;
  padding: 10px 0;
  text-align: center;
}

.btn {
  padding: 10px 15px;
  background-color: #8b0000;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0; /* 均一な余白 */
}

.btn:hover {
  background-color: #a83232;
}

.calendar {
  background-color: #FFFFFF;
  width: calc(100vw - 250px);
  border: 1px solid #ddd;
  background: linear-gradient(135deg, #faf3e0, #fdfaf6);
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}