.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 250px;
  height: 100vh;
}

.header-name a {
  font-size: 10px;
  color: #fff;
  text-decoration: none;
}

/* サイドバーのタイトル部分のデザイン */
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center
  background-color: #f8f5f0; /* 和風の淡い背景色 */
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.app-title {
  font-family: 'Noto Serif JP', serif; /* 和風フォント */
  font-size: 30px;
  color: #8b0000; /* 渋い赤色 */
  margin: 0; /* pタグ特有の余白を消す */
}

.side-bar-footer {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  display: block;              /* ブロック表示で中央揃え */
  width: 100%;                 /* ボタンをサイドバーの幅いっぱいに広げる */
  padding: 10px 0;             /* 上下の余白を調整 */
  text-align: center;          /* テキストを中央揃え */
  text-decoration: none;       /* 下線を削除 */
  color: #253141;                 /* テキスト色 (白色) */
  border: none;                /* ボーダーを削除 */
  border-radius: 5px;          /* 角丸 */
  font-size: 16px;             /* フォントサイズ */
  font-weight: bold;           /* 太字 */
  margin-bottom: 10px;         /* ボタン間のスペース */
  cursor: pointer;
}

.custom-btn {
  display: block;          /* 横幅いっぱい */
  margin: 10px auto;       /* 上下中央寄せ */
  padding: 10px 15px;      /* 内側の余白を調整 */
  background-color: #8b0000; /* 渋い赤色 */
  color: #fff;             /* 白い文字 */
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #a83232; /* 少し明るい赤 */
}

.sidebar-content .custom-btn:hover {
  background-color: #0056b3;   /* ホバー時の背景色 (濃い青色) */
}

.calendar {
  background-color: #FFFFFF;
  width: calc(100vw - 200px);
  border: 1px solid #ddd;
  background: linear-gradient(135deg, #faf3e0, #fdfaf6); /* 和紙風グラデーション */
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

td.today {
  background-color: #fdecb3; /* 薄い黄色 */
  font-weight: bold;
  border: 2px solid #8b0000; /* 渋い赤で枠線 */
}